---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro Decanter Starter.">
		<h1>Welcome to <span class="text-cardinal-red font-semibold">Astro Decanter Starter</span></h1>
</Layout>